body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgb(0, 0, 0));
}
header {
    background: black;
    width: auto;
    padding: 2px 0 0 20px;
    text-align: center;
    border: 1px solid;
}

.meu-cabecalho {
   width: auto;

}

h1 {
    margin: auto;
    position: relative;
    left: 1em;
    bottom: 4em;
    font-weight: bold;
    font-size: 1em;
}
.container-conteudo {
    text-align: center;

    line-height: 1em;
    width: auto;
}
h2 {
    font-weight: bold;
    margin: 50px 0 0  0 ;
}
li p {
    line-height: 2em;
}
.container-contato {
    margin: 0 0 0 10px ;
    text-align: center;
}

footer {
    background: rgb(0, 0, 0);
    width: auto;
    font-weight: bold;
}

